{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Edit Article</h1>
    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_article_index') }}">back to blog</a>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_article_index') }}">page profil</a>
    <a href="{{ path('app_profil_shearch') }}">page blog admin</a>
    {% elseif is_granted('ROLE_USER') %}
    <a href="{{ path('app_profil') }}">page profil</a>
    {% endif %}
    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
